@import "templatecolours.css";

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

header{

    background-color: green;
}

main{

    background-color: blue;
}

section{

    background-color: orange;
}

aside{

    background-color: yellow;
}

article{
    background-color: purple;
}
